<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
   <title>
       corona update
   </title>
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" type="text/css" href="css/index.css">
   <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
   <script src="javascript/index.js" ></script>
</head>    
<body>
  <!--- <div class="counter">
      kjdkdfjkddkj
   </div>--->
    <div class="continer">
     <div class="text">
        <h1>
        Stay home <br>Stay Safe</h1>
     </div>
    <div class="forms">
        <form action="/register" method="POST">
         <label for="tel">I want updates on my phone</label>
         <input type="tel" name="phone" placeholder="phone number" required><br>
         <input type="text" id= "username" name="username" placeholder="we'll call you this" required><br>
         <input type="number" name="frequency"placeholder="frequency of updates" max="10" min="1" required><br>
         <input type="submit" value="Subscribe" name="subscribe">
       </form>
      </div>
  </div>
</body>
</html>